<div class= "p-main">
	<div class="banner">
	    <ul>
	        <li><%= image_tag('Bolt-Rails.PNG') %></li>
	        <li><%= image_tag('Pizzaplanet - Ang.PNG') %></li>
	        <li><%= image_tag('Outbox - Ang.PNG') %></li>
	    </ul>
	</div>
</div>

<div class="supporting">
	<div class="col-md-4">
		<div class="thumb">
			<%= image_tag('Bass-Rails.PNG') %>
			<h3>Bass</h3>
			<p>Music Discovery and Streaming App interface</p>
			<p>RoR</p>
		</div>
		<div class="thumb">
			<%= image_tag('Bookmarks-Rails.PNG') %>
			<h3>Bookmarks</h3>
			<p>Book rankings and reviews</p>
			<p>RoR</p>
		</div>
		<div class="thumb">
			<%= image_tag('Feedster-Ang.PNG') %>
			<h3>Feedster</h3>
			<p>Instagram-like photo sharing interface</p>
			<p>AngularJS</p>
		</div>
		<div class="thumb">
			<%= image_tag('Move-Ang.PNG') %>
			<h3>Move</h3>
			<p>Exercise rep tracking</p>
			<p>AngularJS</p>
		</div>
		<div class="thumb">
			<%= image_tag('Reader - Ang.PNG') %>
			<h3>Reader</h3>
			<p>Example of online book reading application</p>
			<p>AngularJS</p>
		</div>
		<div class="thumb">
			<%= image_tag('Top10 - Ang.PNG') %>
			<h3>Top 10</h3>
			<p>Tv show ratings and rankings</p>
			<p>AngularJS</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumb">
			<%= image_tag('Bolt-Ang.PNG') %>
			<h3>Bolt</h3>
			<p>Netflix clone using Angular to populate from database</p>
			<p>AngularJS</p>
		</div>
		<div class="thumb">
			<%= image_tag('Broadway-Rails.PNG') %>
			<h3>Broadway</h3>
			<p>Front-end for a DIY website deployment app</p>
			<p>RoR</p>
		</div>
		<div class="thumb">
			<%= image_tag('Gameboard-Ang.PNG') %>
			<h3>Gameboard</h3>
			<p>Example of a scoreboard front end</p>
			<p>AngularJS</p>
		</div>
		<div class="thumb">
			<%= image_tag('Outbox - Ang.PNG') %>
			<h3>Outbox</h3>
			<p>Gmail-like front end, with static database</p>
			<p>AngularJS</p>
		</div>
		<div class="thumb">
			<%= image_tag('Readme-Rails.PNG') %>
			<h3>ReadMe</h3>
			<p>Example of a User</p>
			<p>RoR</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumb">
			<%= image_tag('Bolt-Rails.PNG') %>
			<h3>Bolt</h3>
			<p>Netflix clone with Rails back-end</p>
			<p>RoR</p>
		</div>
		<div class="thumb">
			<%= image_tag('Calendar-Rails.PNG') %>
			<h3>Calendar</h3>
			<p>Simple calendar populated from a database</p>
			<p>RoR</p>
		</div>
		<div class="thumb">
			<%= image_tag('Innovationcloud-Rails.PNG') %>
			<h3>InnovationCloud</h3>
			<p></p>
			<p>RoR</p>
		</div>
		<div class="thumb">
			<%= image_tag('Pizzaplanet - Ang.PNG') %>
			<h3>PizzaPlanet</h3>
			<p>Restaurant menu populated from database</p>
			<p>AngularJS</p>
		</div>
		<div class="thumb">
			<%= image_tag('Threadly - Rails.PNG') %>
			<h3>Threadly</h3>
			<p>Twitter-like app for posting comments to a feed</p>
			<p>RoR</p>
		</div>
	</div>
</div>
